<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input page</title>
    <style>
        h1{
            background-color: skyblue;
            color: red;
        }
    </style>
</head>
<body bgcolor="#adff2f" align="center">
<h1>Welcome to Django</h1>
<form action="./add" method="get">
Please Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t1"><br><br>
Please Enter Second Number: <input type="text" name="t2"><br><br>
<input type="submit" value="Click here for add">
</form><br><br>
<form action="./sub" method="get">
Please Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t1"><br><br>
Please Enter Second Number: <input type="text" name="t2"><br><br>
<input type="submit" value="Click here for sub">
</form><br><br>
<form action="./mul" method="get">
Please Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t1"><br><br>
Please Enter Second Number: <input type="text" name="t2"><br><br>
<input type="submit" value="Click here for mul">
</form><br><br>
<form action="./div" method="get">
Please Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t1"><br><br>
Please Enter Second Number: <input type="text" name="t2"><br><br>
<input type="submit" value="Click here for div">
</form><br><br>
<form action="./floor" method="get">
Please Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="t1"><br><br>
Please Enter Second Number: <input type="text" name="t2"><br><br>
<input type="submit" value="Click here for floor div">
</form>
</body>
</html>